@model SitecoreRocks.Models.Home

@using Glass.Mapper.Sc.Web.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC sample testing</title>
</head>
<body>
    <div>
        <h1>MVC: @Html.Glass().Editable(x => x.Title)</h1>
        @Html.Glass().Editable(x=>x.Text)
    </div>
    <div>
        @Html.Glass().Editable(x=>x.PublishedDate)
    </div>
</body>
</html>
